.preview {
    flex: .6;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

.preview-container{
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px #F6F6F6;
    min-height: 80vh;
}

.preview-box{
    padding: 0.8em;
}

.preview-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert {
    position: fixed;
    width: 30%;
    z-index: 3;
    right: 0;
    top: 100px;
}

